fastapi[standard]
uvicorn[standard]
sqlmodel
pydantic-settings
python-dotenv
celery
pytest
pytest-cov
pytest-xdist
psycopg[binary]
debugpy
pint
alembic
scrapy
timezonefinder
playwright
haversine
pgvector
geoalchemy2
